 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .title-post-wrap b {
    font-size: 10px !important;
  }
  .title-post-wrap {
    padding: 30px 30px !important;
  }

  .wrap-hot-news-left {
      padding-right: 15px !important;
   }

   .wrap-hot-news-right {
      padding-left: 15px !important;
   }
   .carousel-control {
      display: block !important;
    }

    .wrap-hot-news-right {
      padding: 0 15px !important;
      display: none;
    }

    .wrap-big-text .content-item {
      -webkit-line-clamp: 9 !important;
    }

    .wrap-item-text .content-item {
      -webkit-line-clamp: 3 !important; 
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-collapse {
        border-top: none;
        padding-top: 15px;
    }

    .wrap-category {
        margin-bottom: 15px;
        height: 475px !important;
    }

    .item-content-category a {
      -webkit-line-clamp: 4 !important;
    }

    .wrap-item-text,
    .wrap-big-text {
      padding: 15px !important;
    }

    .wrap-hot-news-left {
      padding: 0 15px !important;
    }

    .wrap-hot-news-right {
      padding: 0 15px !important;
      display: none;
    }
    .carousel-control {
      display: block !important;
    }
 }


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .navbar-collapse {
        border-top: none;
        padding-top: 15px;
    }

    .wrap-category {
        margin-bottom: 15px;
        height: 475px !important;
    }

    .item-content-category a {
      -webkit-line-clamp: 4 !important;
    }

    .wrap-item-text,
    .wrap-big-text {
      padding: 15px !important;
    }

    .wrap-hot-news-left {
      padding: 0 15px !important;
    }

    .wrap-hot-news-right {
      padding: 0 15px !important;
      display: none;
    }

    .left-title-hot-news {
      height: 60px !important;
    }

    .left-title-hot-news b {
      font-size: 17px !important;
      -webkit-line-clamp: 1 !important;
    }

    .carousel-control {
      display: block !important;
    }
}