 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
   .wrap-hot-news-left {
      padding-right: 15px !important;
   }

   .wrap-hot-news-right {
      padding-left: 15px !important;
   }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .title-post-wrap b {
    font-size: 10px !important;
  }
  .title-post-wrap {
    padding: 30px 30px !important;
  }

  .wrap-hot-news-left {
      padding-right: 15px !important;
   }

   .wrap-hot-news-right {
      padding-left: 15px !important;
   }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-collapse {
        border-top: none;
        padding-top: 15px;
    }

    .wrap-category {
        margin-bottom: 15px;
        height: 475px !important;
    }

    .item-content-category a {
      -webkit-line-clamp: 4 !important;
    }

    .wrap-item-text,
    .wrap-big-text {
      padding: 15px !important;
    }

    .wrap-hot-news-left {
      padding: 0 15px !important;
    }

    .wrap-hot-news-right {
      padding: 0 15px !important;
    }
 }


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .navbar-collapse {
        border-top: none;
        padding-top: 15px;
    }

    .wrap-category {
        margin-bottom: 15px;
        height: 475px !important;
    }

    .item-content-category a {
      -webkit-line-clamp: 4 !important;
    }

    .wrap-item-text,
    .wrap-big-text {
      padding: 15px !important;
    }

    .wrap-hot-news-left {
      padding: 0 15px !important;
    }

    .wrap-hot-news-right {
      padding: 0 15px !important;
    }
}