/*
** Author: Lê Lam Hải
** Phone: 0969128313
*/
.cus-header {
    padding: 11px 0 17px 0 !important;
    position: relative !important;
}

.cus-navbar-default {
    border-color: white !important;
}

.cus-navbar {
    background-color: white !important;
    position: relative !important;
    min-height: 85px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
}

.cus-no-margin-left {
    margin-left: 0 !important;
}

.cus-no-margin-right {
    margin-right: 0 !important;
}

.cus-top-menu li a {
    font-size: 15px;
    color: #101010;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 20px 8px;
    display: block;
}

.wrap-footer{
  font-size: 12px;
  background-color: #aa1a27;
  padding: 40px 0;
  color: #fff;
}

.footer-phone {
  padding-bottom: 30px;
}

.footer-phone b span {
  white-space: nowrap ;
}

.footer-wrap-follow {
  font-weight: 500;
  text-transform: uppercase;  
}

.wrap-follow {
  padding-top: 20px;
  border-top: 1px solid #fff;
}






a:hover{
  text-decoration: underline;
}

.summary .title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-style4 .item .summary .title a {
  color: #ab1a27;
  font-size: 21px;
  font-weight: 700;
}

.list-style4 .entry a p {
  color: #333;
}

.list-unstyled .item a img {
  width: 100%;
  height: auto;
}

.caption .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.new1 .navigation .title span a{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
}

.news-hot-description a {
  color: #333;
}

.col-xs-6 .wrap-content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} 

.col-xs-6 .wrap-content .des {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-right {
  padding-right: 10px;
}

.entry-right {
  padding-bottom: 10px;
}

.policy-description {
   max-height: 100%;
   padding: 10px;
}

.policy-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #333;
}

.policy-content:hover {
  color: #333;
}

.col-xs-6 .wrap-content .title a {
  color: #ab1a27;
}

.entry-right .entry .title .policy-title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #333;
  font-size: 14px;
}

.news-item a {
  color: #333;
}

.news-item a:hover {
  color: #333; 
}

.new {
  background-color: #fff;
}

.clear-bottom {
  padding: 25px 0 0 0;
}

.link-more {
  padding-bottom: 30px;
}

.wrap-img-slider {
  position: relative;
}

.wrap-img-slider a img {
  width: 100%;
  height: auto;
}

.wrap-img-slider a {
  color: #fff;
}

.wrap-img-slider a:hover {
  color: #fff;
}

.wrap-img-slider a .title-post-wrap {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 50px;
    min-height: 80px;
}

/*.wrap-img-slider a h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}*/